<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dining</title>
    <link rel="stylesheet" type="text/css" href="/css/swag1.css">
    <style>
        .input {
    display: none;
        }
       .p00{
    display:{{post.but1}};
    }
    .user{
    display :{{post.but2}};
    }
    .name{
    display: {{post.but3}};
    </style>
</head>
<body>
<div class="i1">
    <div class="bar">
        <img id="i0" class="p0">
        <p class="p3" id="j5"></p>
        <a href="/"><p class="p4" id="j6" ></p></a>
        <a href="/#bedroom"><p class="p5"id="j7"></p></a>
        <a href="/dining"><p class="p6"id="j8"></p></a>
        <a href="/#living"><p class="p7"id="j9"></p></a>
        <a href="/#about"><p class="p8"id="j10"></p></a>
        <a href="/#contact"><p class="p9"id="j11"></p></a>
        <a href="/login" ><button class="p00"id="login_button">Login/Register</button></a>
        <img id="user_image"class="user" src="images/img_20.jpeg">
        <p id="name_login" class="name">{{post.but4}}</p>

    </div>
    <img  class="img1" id="i1" >
    <p class="p10" id="A"></p>
    <p class="p11" id="B"></p>
    <p class="p14"id="C"></p>
    <p class="p15"id="D"> </p>
    <a href="#"><p class="p20">Add to Cart </p></a>
    <a href="/checkout"><p class="p21">Check out </p></a>
    <p class="p12"id="E"></p>
    <img id ="i3"class="img2">
    <p id ="F" class="p13"></p>
    <img id ="i4"class="img12" >
    <p id ="G" class="p23"></p>
    <form>
        <input type="text" id="no" value="1" class="input">
    </form>
</div>
</body>
<script>
let json="/css/dining.json";
    let httprequest = new XMLHttpRequest();
    httprequest.open('GET',json);
    httprequest.responseType='json';
    httprequest.send();
    httprequest.onload=function(){
        const jdata=httprequest.response;
        gettext(jdata);}
    function gettext(obj){
  document.getElementById('i0').src=obj['image0'];
    document.getElementById('j5').innerHTML=obj['title1'];
    document.getElementById('j6').innerHTML=obj['title2'];
    document.getElementById('j7').innerHTML=obj['title3'];
    document.getElementById('j8').innerHTML=obj['title4'];
    document.getElementById('j9').innerHTML=obj['title5'];
    document.getElementById('j10').innerHTML=obj['title6'];
    document.getElementById('j11').innerHTML=obj['title7'];  
    document.getElementById('A').innerHTML=obj['product1_name'];
    document.getElementById('B').innerHTML=obj['price1'];
    document.getElementById('C').innerHTML=obj['MRP1'];
    document.getElementById('D').innerHTML=obj['You Save1'];
    document.getElementById('E').innerHTML=obj['product_description1'];
    document.getElementById('F').innerHTML=obj['product2_name'];
    document.getElementById('G').innerHTML=obj['product3_name'];


    document.getElementById('i1').src=obj['Product1_image1'];
    {{!-- document.getElementById('i1').src=obj['Product1_image2']; --}}
    document.getElementById('i3').src=obj['Product2_image1'];
    {{!-- document.getElementById('i3').src=obj['Product2_image2']; --}}
    document.getElementById('i4').src=obj['Product3_image1'];

    let image1=document.getElementById('i1');
    let image2=document.getElementById('i3');
    let text1=document.getElementById('F');
    let image3=document.getElementById('i4');
    let text2=document.getElementById('G');
    let img1=obj["Product1_image2"];
    let img2=obj["Product1_image1"];
    let img3=obj["Product2_image2"];
    let img4=obj["Product2_image1"];
    let img5=obj["Product3_image2"];
    let img6=obj["Product3_image1"];
    image1.addEventListener('mouseenter',change);
    image1.addEventListener('mouseleave',change1);
    function change(){
        image1.src=img1;}
    function change1(){
        image1.src=img2;}
    image2.addEventListener('mouseenter',change2);
    image2.addEventListener('mouseleave',change3);
    function change2(){
        image2.src=img3;}
    function change3(){
        image2.src=img4;}
    image2.addEventListener('click',imagechange);

    function imagechange(){
        img1=obj["Product2_image2"];
        img2=obj["Product2_image1"];
        img3=obj["Product1_image2"];
        img4=obj["Product1_image1"];
        document.getElementById('A').innerHTML=obj['product2_name'];
        document.getElementById('F').innerHTML=obj['product1_name'];
        document.getElementById('B').innerHTML=obj['price2'];
        document.getElementById('C').innerHTML=obj['MRP2'];
        document.getElementById('D').innerHTML=obj['You Save2'];
        document.getElementById('E').innerHTML=obj['product_description2'];
    }
    image3.addEventListener('click',imagechange1);

    function imagechange1(){
        img1=obj["Product3_image2"];
        img2=obj["Product3_image1"];
        img3=obj["Product2_image2"];
        img4=obj["Product2_image1"];
        img5=obj["Product1_image2"];
        img6=obj["Product1_image1"];
        document.getElementById('A').innerHTML=obj['product3_name'];
        document.getElementById('G').innerHTML=obj['product1_name'];
        document.getElementById('F').innerHTML=obj['product2_name'];
        document.getElementById('B').innerHTML=obj['price3'];
        document.getElementById('C').innerHTML=obj['MRP3'];
        document.getElementById('D').innerHTML=obj['You Save3'];
        document.getElementById('E').innerHTML=obj['product_description3'];
    }
    
    image3.addEventListener('mouseenter',change4);
    image3.addEventListener('mouseleave',change5);
    function change4(){
        image3.src=img5;}
    function change5(){
        image3.src=img6;}
        
    }
</script>
</html>