<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign-Up</title>
    <link rel="stylesheet" href="D:/collage/Sem 4/web/project1/signup.css">
</head>
<body>
    <div class="bar">
        <img src="img0.png" class="p01">
        <p class="p31">FurnitureXD</p>
        <a href="index.html#home"><p class="p41">Home</p></a>
        <a href="index.html#bedroom"><p class="p51">Bedroom</p></a>
        <a href="index.html#dining"><p class="p61">Dining</p></a>
        <a href="index.html#living"><p class="p71">Living</p></a>
        <a href="index.html#about"><p class="p81">About</p></a>
        <a href="index.html#contact"><p class="p91">Contact</p></a>
        <a href="login.html" ><button class="p00">Login</button></a>
    </div>
<div class="div1">

    <p class="p10">Crafted with excellence</p>

    <img class="img1" src="img0.png">
    <p class="p11">Decorate your home with FurnitureXD</p>
   <p class="p13">We provide you Low prices and best quality.</p>
</div>
<form name="form" method="post" action="">
<div class="div2">
    <div class="div3">
        <div class="div4">
            <p class="p0">Enter your Name</p>
            <input class="int1" name="name" type="text">
        </div>
        <div class="div5">
            <p class="p1">Country</p>
<select id="select" class="int2" name="country">
    <option>hi</option>
    <option></option>
    <option></option>
    <option></option>
</select>
        </div>
        <div class="div6">
            <p class="p4">City</p>
            <input class="int9" name="city">
            <p class="p5">State</p>
            <input class="int10" name="state">
            <p class="p6">Zip Code</p>
            <input class="int11" name="zip">
        </div>
    </div>
<div class="div7">
    <p class="p14">Username</p>
    <input class="int5" placeholder="Create a username" name="username">
</div>
    <div class="div8">
    <p class="p15">Password</p>
    <input class="int6" type="password" name="password">
    <p class="p16">Your password must contain at least one number and one uppercase letter</p>
    </div>
    <input type="submit" id="submit" class="butt1"><p class="p45">SIGNUP</p></input>
</div>
</form>
</body>
<script>
    let h=document.getElementById('submit');
    h.addEventListener('click',upload)
    function upload(){
        let option= document.getElementById('select').value;
    }
</script>
</html>